<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM HH:mm} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="FileAppender" fileName="logs/app.log" append="false">
            <PatternLayout pattern="%5level *** %C{1}.%M:%L - %msg%n ***"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ConsoleLogger" level="info" additivity="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>
