<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="commonPattern">%d{dd.MM HH:mm:ss} [%t] %-5level %logger{1} -  %msg%n%throwable</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
                <PatternLayout pattern="${commonPattern}"/>
        </Console>

        <File name="FileAppender" fileName="logs/app.log" append="false">
            <PatternLayout pattern="${commonPattern}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ConsoleLogger" level="info" additivity="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
