<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleLog" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="*** %highlight{%-5level} *** %n%msg%n{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green,
            DEBUG=blue, TRACE=magenta}"/>
        </Console>

        <File name="FileLog" fileName="logs/app.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ConsoleLogger" level="info" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>