<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="UserOutputLog" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="*** %-5level *** %n%msg%n"/>
        </Console>

        <File name="TechnicalLog" fileName="logs/app.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="UserOutputLogger" level="info" additivity="false">
            <AppenderRef ref="UserOutputLog"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="TechnicalLog"/>
        </Root>
    </Loggers>
</Configuration>